<?xml version="1.0"?>
<!-- 
PhoneGap Build Configuration
-->

<!-- Configuration Start: Please customize following configuration -->
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="pgb-share-utils.pulipuli.info" version="1.0.0">
    
    <name>ShareToEvent</name>
    <description>
        Android APP for creating a event via sharing.
    </description>
    <author href="http://blog.pulipuli.info" email="pulipuli.chen@gmail.com">布丁布丁吃布丁</author>
    <!-- Configuration End -->
  
    <!--  allows access to any external resource. -->
    <access origin="*"/>
    <allow-navigation href="*" />
  
    <content src="index.html"/>
    <icon src="www/img/icon.png"/>
  
    <!-- https://build.phonegap.com/current-support -->
    <!-- <preference name="phonegap-version" value="cli-6.5.0" /> -->
    <preference name="phonegap-version" value="cli-8.0.0" />
    
    <!-- 防止太多權限 -->
    <preference name="permissions" value="none" />
    
    <!-- 只保留最低的權限 -->
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <!-- 外掛 -->
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <!-- <plugin name="cordova-plugin-file" spec="~6.0.1" /> -->
    <!-- 
    <plugin name="cordova-plugin-file" version="5.0.0" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" /> 
    -->
    
    <!-- https://build.phonegap.com/plugins/1917 -->
    <!-- <plugin name="WebIntent" value="com.borismus.webintent.WebIntent" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-android-support-v4" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-webintent2" source="npm" /> -->
    
    <!-- https://github.com/cordova-misc/cordova-webintent -->
    <!-- <plugin spec="https://github.com/cordova-misc/cordova-webintent.git" source="git" /> -->
    
    <!-- https://github.com/napolitano/cordova-plugin-intent -->
    <plugin spec="https://github.com/napolitano/cordova-plugin-intent.git" source="git" />
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <activity android:name=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>

                <shortcuts xmlns:android="http://schemas.android.com/apk/res/android">
  <shortcut
    android:enabled="true"
    android:icon="@drawable/random_constellation"
    android:shortcutDisabledMessage="@string/shortcut_disabled_message"
    android:shortcutId="random_constellation"
    android:shortcutLongLabel="@string/shortcut_long_label"
    android:shortcutShortLabel="@string/shortcut_short_label">
    <!-- Each one of these intents needs an android:action, even if you don't
         do anything with it. Otherwise you're in for a crash! -->
    <intent
      android:action="android.intent.action.VIEW"
      android:targetClass="com.orobator.konstellations.MainActivity"
      android:targetPackage="com.orobator.konstellations"/>
    <intent
      android:action="RANDOM"
      android:targetClass="com.orobator.konstellations.ConstellationDetailActivity"
      android:targetPackage="com.orobator.konstellations"/>
    <!-- If your shortcut is associated with multiple intents, include them
         here. The last intent in the list is what the user sees when they
         launch this shortcut. The previous intents will be put on the backstack -->
    <!-- You can also specify the category of the shortcut via the <categories>
         tag. As of this writing, the only supported category is
         android.shortcut.conversation, and can be specified using android:name
         like so: -->
    <!-- <categories android:name="android.shortcut.conversation"/> -->

  </shortcut>

</shortcuts>
            </activity>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </config-file>
    </platform>
</widget>
